/* Styles go here */
html {
    height: 100%;
}

.about-project {
    display: block;
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    position: absolute;

    top: 10px;
    right: 10px;
}

.text {
    display: block;
}

.about-me {
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}


a, a:hover, a:visited {
    color: #fff;
}

body {
    margin-top: 200px;
    /*background: #36d1dc;
    background: -webkit-linear-gradient(to top, #36d1dc, #5b86e5);
    background: linear-gradient(to top, #36d1dc, #5b86e5); */

    background: #cb356b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #cb356b, #bd3f32); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #cb356b, #bd3f32); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 25px;
}


ul {
    margin: 20px;
    padding-top: 10px;
    list-style-type: none;
    margin-left: -15px;
}


.centre {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

li {
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: transparent;
    border: solid 2px #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

input {
    width: 300px;
    padding: 2px;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.deleteButton {
    height: 20px;
    color: #fff;
    background-color: transparent;
    border: solid 0px #fff;
    float: right;
}

.btn-primary {
    margin-left: 10px;
    height: 37px;
    color: #fff;
    background-color: transparent;
    border: solid 2px #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: transparent;
    border: solid 2px #fff; /*set the color you want here*/
}
